body {
    background-color: #80366b;
    background-position: center center;
    margin: 0;
    padding: 0;
}


#mainPost {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Courier, monospace;
    background-color: #80366b;
    box-shadow: rgba(128,54,107,1) 3px 8px 24px;
}
.mainComment {
    font-size: 50px;
    text-align: center;
    color: #ffe478;
    text-shadow: 2px 2px #f2a65e;
    background-color: #80366b;
}



#makeComment {
    background-color: #f2a65e;
    position: fixed;
    bottom: 0;
    width: 90%;
    font-family: Courier, monospace;
    padding: 20px;
}
#makeComment form {
    display: flex;
    align-items: center;
}


.displayNameForm input{
    width: 100%; 
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
}
.displayNameForm {
    width: 110%;
}


.commentForm input{
    height: 30px;
    width: 97%;
    font-size: 20px;
    margin-left: 1.5%;
    border-radius: 5px;
}
.commentForm {
    width: 400%;
}


.submit h1 {
    font-size: 25px;
    margin: 0;
    margin-left: 1%;
}
.submit {
    align-self: flex-end;
}
.submit:hover {
    cursor: pointer;
}


#commentSection {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 90%;
    min-height: 625px;
    font-family: Courier, monospace;
    padding: 20px;
    padding-top: 150px;
    padding-bottom: 85px;
    margin: 0 auto;
}

.commentPost1 {
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    background-color: #3ca370;
    border-radius: 5px;
}

.commentPost2 {
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    background-color: #eb564b;
    border-radius: 5px;
}

.commentPost3 {
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    background-color: #3b7bab;
    border-radius: 5px;
}

.commentPost4 {
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    background-color: #f2a65e;
    border-radius: 5px;
    text-align: center;
}

.commentPost4 .commentText .commentHeader {
    align-self: center;
}

.commentPost4 .commentText .commentHeader p {
    color: white;
    font-weight: bolder;
    font-size: 60px;
}


.commentText {
    margin-left: 10px;
    display: flex;
    flex-flow: column;
    width: 117%;
}
.commentHeader {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.commentChange {
    display: flex;
    flex-flow: row;
    width: 7%;
    justify-content: space-between;
}
.delete:hover {
    cursor: pointer;
}
.edit:hover {
    cursor: pointer;
}
.commentHeader p {
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bolder;
}
.commentText h1 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: lighter;
}

#editComment{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#editComment h1 {
    font-size: 25px;
    margin: 0;
    height: 34px;
}
#editComment h1:hover {
    cursor: pointer;
}
#editComment input{
    height: 22px;
    width: 94%;
    font-size: 18px;
    border-radius: 5px;
}
#editComment.noDisplay {
    display: none;
}